﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model InstantCredit.ViewModels.CreateCreditPlanModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<form class="form-horizontal" asp-action="Create" asp-controller="Home" method="POST">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" type="email"
                   class="form-control"
                   required="required"
                   placeholder="Enter credit plan name">
            <span asp-validation-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Period">Period in monthes:</label>
            <input asp-for="Period"
                   type="number"
                   class="form-control"
                   required="required"
                   placeholder="Enter credital period">
            <span asp-validation-for="Period" />
        </div>
        <div class="form-group">
            <label asp-for="Percents">Percentage:</label>
            <input asp-for="Percents"
                   type="number"
                   class="form-control"
                   required="required"
                   placeholder="Enter percentage">
            <span asp-validation-for="Percents" />
        </div>
        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <textarea asp-for="Description"
                   class="form-control"
                   required="required"
                   placeholder="Enter description">
            </textarea>
            <span asp-validation-for="Description" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
