﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model InstantCredit.ViewModels.CreditPlansModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    @if (Model.IsAdmin)
    {
        <div class="p-2">
            <a class="dropdown-item" asp-action="Create" asp-controller="Home">Create Credit Plan</a>
        </div>
    }
    else
    {
        <div class="p-2">
            <a class="dropdown-item" asp-action="Create" asp-controller="Application">Apply For Plan</a>
        </div>
    }

    <div class="list-group">
        @foreach (var plan in Model.CreditPlans)
        {
            <div class="list-group-item d-flex justify-content-between bg-light mb-3">
                <div class="p-2">
                    <div>Name: @plan.Name</div>
                    <div>Month: @plan.Period</div>
                    <div>Percentage: @plan.Percents</div>
                    <div>Description: @plan.Description</div>
                    @if (Model.IsAdmin)
                    { 
                        <a asp-action="Deactivate" asp-controller="Home" asp-route-id=@plan.Id>Deactivate Plan</a>
                    }
                </div>
            </div>
        }
    </div>
</div>