﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model InstantCredit.ViewModels.CreateApplicationModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<form class="form-horizontal" asp-action="Create" asp-controller="Application" method="POST">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="CreditPlan">Credit Plan:</label>
            <select asp-for="CreditPlan"
                    class="form-control"
                    required="required"
                    placeholder="Select Credit Plan to apply on">
                @foreach (var plan in Model.CreditPlans)
                {
                    <option value=@plan.Id>@plan.Name</option>
                }
            </select>
            <span asp-validation-for="CreditPlan" />
        </div>
        <div class="form-group">
            <label asp-for="PassportFile">Passport File:</label>
            <input asp-for="PassportFile" type="file"
                   class="form-control"
                   required="required"
                   placeholder="Attach Yours Passport File">
            <span asp-validation-for="PassportFile" />
        </div>
        <div class="form-group">
            <label asp-for="IncomeStatementFile">Income Statement File:</label>
            <input asp-for="IncomeStatementFile"
                   type="file"
                   class="form-control"
                   required="required"
                   placeholder="Attach Yours Income Statement File">
            <span asp-validation-for="IncomeStatementFile" />
        </div>
        <div class="form-group">
            <label asp-for="ContactPhone">Contact Phone:</label>
            <input asp-for="ContactPhone"
                   type="tel"
                   class="form-control"
                   required="required"
                   placeholder="Enter Contact Phone">
            <span asp-validation-for="ContactPhone" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
