﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model InstantCredit.ViewModels.CreditApplicationModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="list-group">
        @foreach (var application in Model.CreditApplications)
        {
            <div class="list-group-item d-flex justify-content-between bg-light mb-3">
                <div class="p-2">
                    @if (Model.IsAdmin)
                    { 
                        <div>Id: @application.Id</div>
                    }
                    <div>Credit plan: @application.CreditPlan.Name</div>
                    <div>Status: @application.Status</div>
                    <a asp-action="Application" asp-controller="Application" asp-route-id=@application.Id>More Info</a>
                </div>
            </div>
        }
    </div>
</div>
