﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model InstantCredit.ViewModels.CreditApplicationModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


    <div class="container">
        <div class="list-group">
            @foreach (var application in Model.CreditApplications)
            {
                <div class="list-group-item d-flex justify-content-between bg-light mb-3">
                    <div class="p-2">
                        <div>Plan: @application.CreditPlan.Name</div>
                        <div>Monthes: @application.CreditPlan.Period</div>
                        <div>Percentage: @application.CreditPlan.Percents</div>
                        @if (Model.IsAdmin)
                        {
                            <div>id: @application.Id</div>
                            <div>User: @application.User.Email</div>
                        }
                        <a asp-action="Payment" asp-controller="Payment" asp-route-id=@application.Id>More Info</a>
                    </div>
                </div>
            }
        </div>
    </div>