nav {
    display: flex;
    align-items: flex-end;
}

nav a {
    margin: 1px 5px;
}

.login{
    width: 50%;
    min-width: 500px;
    margin: 100px 0px;
}

.file {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 0px;
}
