﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model InstantCredit.ViewModels.LoginModel

@{
    Layout = "~/Views/Account/Layout.cshtml";
}

<form class="login" asp-action="Login" asp-controller="Account" method="POST">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email" for="email">Email:</label>
            <input asp-for="Email"
                   type="email"
                   class="form-control"
                   required="required"
                   placeholder="EnterEmail">
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password" for="pwd">Password:</label>
            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   required="required"
                   minlength="8"
                   placeholder="EnterPassword" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>