﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model InstantCredit.ViewModels.RegisterModel

@{
    Layout = "~/Views/Account/Layout.cshtml";
}

<form class="login" asp-action="Register" asp-controller="Account" method="POST">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" type="email"
                   class="form-control"
                   required="required"
                   placeholder="Enter Email">
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Password:</label>
            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   required="required"
                   minlength="8"
                   placeholder="Enter Password">
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password:</label>
            <input asp-for="ConfirmPassword"
                   type="password"
                   class="form-control"
                   required="required"
                   minlength="8"
                   placeholder="Confirm Password">
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>