﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "nastyCloud.TagHelpers.AuthorTagHelper, nastyCloud"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/body.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between mb-3">
        <span class="nav-item dropdown p-2">
            <span class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Menu
            </span>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index" asp-controller="Home">Credit Plans</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Applications">Applications</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Payments">Payments</a>
                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Log Out</a>
                <author class="dropdown-item"></author>
            </div>
        </span>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>